img{
    margin-left: 65px;
    height: auto;
    width: 750px;

}
h1{
    margin-left: 65px;
    font-size: 75px;
}
.wiki{
    font-size: 40px;
    margin-left: 65px;
}
.list{
    margin-left: 65px;
}